:root {
  --white: #ffffff;
  --black: #000000;

  --navy-50: #ECF2FF;
  --navy-200: #CAC9FF;
  --navy-950: #303B59;

  --blue-50: #F3F4FD;
  --navy-800: #1125D6;

  --yellow-50: #FFFBF4;
  --yellow-400: #FFB21E;

  --red-50: #FFF6F6;
  --red-400: #FF5555;

  --green-50: #F2FCF9;
  --green-500: #00BB8F;

  --gradient-1: linear-gradient(180deg, rgba(77, 33, 201, 1) 0%, rgba(37, 33, 201, 0) 100%);
  --gradient-2: linear-gradient(180deg, #7755ff 0%, #2f2ce9 100%);

  --main-font: 'Hanken Grotesk', Arial, sans-serif;
  --line-height-base: 1.3;
}
